body{

}

h1, h2 {
    left: 10px;
    font-size: 2.0em;
    font-weight: 300;

}
h2 {
    top: 30px;
    font-size: 1em;
		font-weight: 500;
}

p {
    white-space: pre;
    font-size: 1.0em;
    font-weight: 200;
}

#info {
	height: 115px;
	/*display: inline-block;*/
}

/* REMOVE .incident FILL CSS */
.hover {
    fill: black;
		opacity: .9;
}

#count {
	text-align: center;
	position: relative;
	width: 200px;
	font-size: 1.0em;
	font-weight: 200;
}


/* ADD CSS FOR #sliderContainer */
#sliderContainer {
    text-align: center;
    position: relative;
    width: 200px;
    font-size: 1.0em;
    font-weight: 200;
}

#dropDownContainer {
    text-align: center;
    position: relative;
    width: 200px;
    font-size: 1.0em;
    font-weight: 200;
		padding-top: 50px;
}

#checkBoxContainer{
    position: relative;
    width: 200px;
    font-size: 1.0em;
    font-weight: 200;
    padding-top: 50px;
    text-align: center;
}

.types{
    font-size: 1.0em;
    font-weight: 200;
}

#visualization {
    width: 710px;
    float: left;
    border-top: 0;
    text-align: center;
    border-right: 0px;
}

#controls {
    width: 276px;
    height: 550px;
    float: right;

}

#svg {
    width: 500px;
}
