body{
}

h1, h2 {
    left: 10px;
    font-size: 2.0em;
    font-weight: 100;
}
h2 {
    top: 30px;
    font-size: 1em;
}

p {
	white-space: pre;
}

#info {
	height: 115px;
}

/* REMOVE .incident FILL CSS */
.hover {
    fill: yellow;   
}
/* ADD CSS FOR #sliderContainer */
#sliderContainer {
    text-align: center;
    position: relative;
    width: 200px;
    left: 300px;
    top:20px;
}

#svg {
    width: 500px;
}
